p {
  font-size: 20px;
  letter-spacing: 3px;
}
li {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 1px;
}
a:hover {
  color: green;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #a8c184;
  text-shadow: 3px 3px 1px black;
}
html {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #dedede;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #e3edd5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
